<div class="auth-container">

  <img  
      class="auth-image"
      src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
      alt="pokemon-logo"
  />

  <h1>Tawny Port</h1>

  <form action="/auth/login" method="POST">

    <div class="row mb-1">
      <label class="form-label">Username
         <input class="form-control" type="text" name="username" />
      </label>
    </div>
    <div class="row mb-1">
      <label class="form-label">Password
         <input class="form-control" type="password" name="password" />
      </label>
    </div>
    
    <button class="btn btn-danger auth-submit-button" type="submit">Begin</button>
  
  </form>

  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}

  <form method="get" action="/auth/signup">
    <button type="submit" class="btn btn-primary auth-login-button">Sign up</button>
  </form>

  <form method="get" action="/">
    <button type="submit" class="btn btn-success auth-visit-button">Visit</button>
  </form>

</div>