<img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="pokemon-logo">
<h1>Tawny Port</h1>

<form action="/auth/signup" method="POST">

   <div class="mb-3">
      <label> Name
         <input required type="text" name="name">
      </label>
   </div>
   <div class="mb-3">
      <label> Username
         <input required type="text" name="username">
      </label>
   </div>
   <div class="mb-3">
      <label> Image
         <input required type="text" name="image" id="profile-creation-image" value="{{this.pokemonImg}}">
      </label>
   </div>
   <div class="mb-3">
      <label> About you:
         <input required type="text" name="description" id="profile-creation-description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit elementum tortor eget tincidunt. Suspendisse vel efficitur tortor, non finibus massa. Maecenas semper eros arcu, et mollis nibh pretium ac. Quisque volutpat ipsum non volutpat egestas. Pellentesque ornare sollicitudin massa vitae laoreet. Cras in auctor eros. Aenean a risus in.">
      </label>
   </div>
   <div class="mb-3">
      <label> Password
         <input required type="password" name="password">
      </label>
   </div>

   <button type="submit" name="submit_btn">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

<form method="get" action="/auth/login">
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<form method="get" action="/">
    <button type="submit" class="btn btn-success">Visit</button>
</form>

<!--<div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Oxc4c16a645_b21a</span> <span><i class="fa fa-copy"></i></span> </div> -->
