<footer>
    <div>
        <img class="psyduck-image hidden" id="psyduck-image" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653729961/pokemon-tawny-port/pokemon-psyduck_b6ue4g.gif" alt="">
    </div>
    <div class="footer-right">  
        <h5>Pokémon TawnyPort</h5>
        <div class="d-flex justify-content-center gap">
            <a href="https://www.linkedin.com/in/jo%C3%A3o-in%C3%A1cio-126174219/"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-tawny-port/linkedin-brands_zdp87l.png" alt="LinkedIn"></a>
            <a href="https://github.com/joao-miguel-inacio"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-tawny-port/github-square-brands_jeauhi.png" alt="GitHub"></a>
            <a href="https://trello.com/b/IiltWmB0/project-2-pokeapi"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561445/pokemon-tawny-port/trello-brands_hj9knp.png" alt="Trello"></a>
        </div>
        <a class="footer-link" href="https://pokeapi.co/">Powered By PokeApi</a>
    </div>  
</footer>