<footer class="container d-flex flex-column justify-content-center align-items-end">
    <h4>Pokemon White</h4>
    <div class="d-flex justify-content-center gap">
        <a href="https://www.linkedin.com/in/jo%C3%A3o-in%C3%A1cio-126174219/"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-white/linkedin-brands_zdp87l.png" alt="LinkedIn"></a>
        <a href="https://github.com/joaoMiguelInacio"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-white/github-square-brands_jeauhi.png" alt="GitHub"></a>
        <a href="https://trello.com/b/IiltWmB0/project-2-pokeapi"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561445/pokemon-white/trello-brands_hj9knp.png" alt="Trello"></a>
    </div>
    <a class="footer-link" href="https://pokeapi.co/">Powered By PokeApi</a>
</footer>