<link rel="stylesheet" href="/stylesheets/search.css" />

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <form autocomplete="off" class="navbar-form" role="search" action="/app/pokemon-search" method="get">
      <label for="pokemon-input"></label>
        <div class="autocomplete" style="width:300px;">
          <input id="myInput" class="form-control me-1 navBarSearchForm" name="id" type="text" placeholder="Search">
        </div>
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if anonymous}}
        <li class="nav-item">
          <a class="nav-link" id="/auth/login" href="/auth/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="/auth/signup" href="/auth/signup">Sign up</a>
        </li>
        {{/if}}
        {{#if inSession}}
        <li class="nav-item">
          <a class="nav-link" id="/auth/logout" href="/auth/logout">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="/app/trainer" href="/app/trainer-list">Trainers list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="/app/own-profile" href="/app/own-profile">Profile</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" id="/app/original-trainer-profile" href="/app/original-trainer-profile">Original Trainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="/app/pokedex" href="/app/pokedex">Pokedex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="/app/battle" href="/app/battle">Battle</a>
        </li>
        <li class="launguages-menu">
          <button class="launguages-item" id="GB-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654772568/pokemon-tawny-port/640px-Flag_of_the_United_Kingdom.svg_hrjlrn.webp" alt="GB"></button>
          <button class="launguages-item" id="Es-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654772376/pokemon-tawny-port/Flag_of_Spain_xti7er.png" alt="ES"></button>
          <button class="launguages-item" id="Pt-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654772340/pokemon-tawny-port/Flag_of_Portugal_x1igwd.png" alt="PT"></button>
          <button class="launguages-item" id="Br-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654805430/pokemon-tawny-port/Flag_of_Brazil_a4w2m1.svg" alt="BRA"></button>
          <button class="launguages-item" id="Fr-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654772489/pokemon-tawny-port/Flag_of_France_qrf2dk.svg" alt="FR"></button>
          <button class="launguages-item" id="Ger-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654805432/pokemon-tawny-port/640px-Flag_of_Germany.svg_hycneh.webp" alt="GER"></button>
          <button class="launguages-item" id="Jpn-flag"><img src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654772537/pokemon-tawny-port/640px-Flag_of_Japan.svg_tsfxg3.png" alt="JPN"></button>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<script src="/js/search.js"></script>
<script src="/js/music.js"></script>