<nav class="nav flex-column nav-pills">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a class="nav-link active" aria-current="page" href="/app/home">Home</a>
    <a class="nav-link" href="/auth/login">Log in</a>
    <a class="nav-link" href="/auth/signup">Sign up</a>
    <a class="nav-link" href="/app/original-trainer-profile">Original Trainer</a>
</nav>