<img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="pokemon-logo">
<h1>Tawyny Port</h1>

<form method="get" action="/auth/login">
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<form method="get" action="/auth/signup">
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

<form method="get" action="/app/home">
    <button type="submit" class="btn btn-success">Visit</button>
</form>