{{>header}}

<div class="page-body">
    <div class="home-container">
        <img  
            class="home-image"
            src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
            alt="pokemon-logo"
        />

    </div>
</div>

{{>footer}}