body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.home-image {
  width: 50vh;
}

.hidden {
  display: none;
}

.no-pokemon-team-text{
  text-align: center;
}

/*auth*/

.auth-container{
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.auth-image {
  width: 60vw;
  max-width: 500px;
  align-self: center;
}

.auth-container >h1 {
  align-self: center;
}
.auth-submit-button,
.auth-login-button,
.auth-visit-button {
  width: 6em;
}

/*
.random-image-generator-button{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-white/pokeball-png-45332_rarrzq.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  border: 0.5px solid black;
}

.random-text-generator-button{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654169206/pokemon-white/letter_L_PNG92_crc1ze.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  border: 0.5px solid black;
}
*/

/*header*/

.nav{
  margin: 2vw !important;
  width: 75vw !important;
}

.nav-link {
  color: #545454 !important;
}

.active {
  background-color: #545454 !important;
  color: white !important;
}

/*footer*/

.footer-link {
  color: #545454;
  text-decoration: none;
}

footer { 
  margin: 2vw;
  color: #545454;
}

.psyduck-image {
  position: absolute;
  height: 90px;
}

/*trainer profile*/

.profile-card {
  width: 75vw;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.profile-image{
  transition: all 0.5s
}

.profile-card:hover .profile-image {
  transform: scale(1.5)
}

.profile-name {
  font-size: 22px;
  font-weight: bold
}

.profile-idd {
  font-size: 14px;
  font-weight: 600
}

.profile-number {
  font-size: 22px;
  font-weight: bold
}

.profile-pokemon {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.profile-text {
  text-align: center;
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.profile-icon {
  height: 35px;
}

.gap {
  gap: 10px
}

@media screen and (min-width: 500px) {
  .profile-buttons-container {
    display: flex;
    gap: 5px;
  }
  .profile-image-and-user-details-container{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .profile-user-details-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/*edit profile*/

.editing-container{
  margin: 2em;
}

/*6 pokemon team*/

.original-trainer-team-text {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: small;
  margin: 0;
}

.card-grid {
  position: relative;
  display: grid;
  justify-items: space-around;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin: 2em;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(110, 13, 13);
  color: #f7f9f9;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 10px rgb(32, 3, 3);
  border-radius: 15px;
}

.pokemon-card-image-container {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card-image {
  height: 100%;
}

.pokemon-card-types-container{
  margin: 10px;
}

.flip-card-front, .flip-card-back {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-more-button {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 481px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*egg group list*/

.egg-group-list-id{
  text-align: center;
}

/*pokedex*/

.pokedex-pokeball-image{
  height: 96px;
  margin: 0;
}

.pokedex-pokedex-link {
  text-decoration: none;
  color: transparent;
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654179821/pokemon-white/66a6a4d3-pokedex_kanto_jvz4bm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pokedex-pokedex-link:hover{
  color: transparent;
}

.pokedex-head {
  background-color: #efefef;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pokedex-body {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: dashed #efefef;
  border-top: none;
}

/*unsuccessful search*/

.center-text {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/*pokemon details*/

.catch-button{
  text-align: center;
}

.catch-button > button{
  width: 20vw;
}

.pokemon-details-name{
  text-align: center;
  background-color: #efefef;
}

.pokemon-details-image-container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.pokemon-details-image-container > div > p{
  margin: 0;
}

.pokemon-details {
  text-align: center;
}

.pokemon-details > h4 {
  background-color: #efefef;
}

.pokemon-details-card{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  margin: 1em;
}

.pokemon-details-types{
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.pokemon-details-types:hover{
  color: white;
}


.bold{
  font-weight: bold;
}


@media screen and (min-width: 481px) {
  .pokemon-details-card{
    grid-template-columns: repeat(2, 1fr);
  }
  .evolution-chain-container,
  .egg-groups-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 769px) {
  .pokemon-details-card{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*trainer list*/
.trainer-list-image {
  height: 50px;
  widh: 50px;
}

.trainer-list-link {
  text-decoration: none;
  color: transparent;
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654179821/pokemon-white/66a6a4d3-pokedex_kanto_jvz4bm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.trainer-list-link:hover {
  color: transparent;
}

/*team edit*/

.edit-team-form{
  margin: 0;
}

.add-pokemon-to-team-btn{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654260394/pokemon-white/PngItem_574430_m2zacr.png);
  background-size: cover;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: none;
}

.remove-pokemon-from-team-btn{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654267713/pokemon-white/pngfind.com-transparent-box-png-1594011_w9k0bo.png
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
}

.edit-team-head{
  height: 100px;
  background-color: #efefef;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.edit-team-body{
  justify-content: center;
  text-align: center;
  align-items: center;
  border: dashed #efefef;
  border-top: none;
}

/*battle*/
/*
.battleground{
  border: 2px solid rgb(110, 13, 13);
  position: relative;
  height: 204px;
}

.battle-pokemon {
  position: absolute;
  right: 0;
  height: 100px;
	animation: slide-left 5s;
}

.battle-trainer {
  position: relative;
  margin-top: 100px;
  height: 100px;
	animation: slide-right 5s;
}

.battle-pokeball{
  position: absolute;
  height: 40px;
  animation: catch 10s;
}

@keyframes slide-left {
  0% {
    right: 100vw;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-right {
  0% {
    left: 100vw;
  }
  100% {
    left: 0px;
  }
}

@keyframes catch {
  0% {
    transform: translate(85vw, 85vh) rotate(0deg);
  }
  100% {
    transform: translate(85vw, 85vh) rotate(7200deg);
  }
}*/