body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1654714346/pokemon-tawny-port/20998_1_pjufvv.jpg");
  background-position: center;
  background-size: cover;
  position: relative !important;
  min-height: 100vh !important;
}

.fade {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.hidden {
  display: none;
}

.small-screen-hidden,
.medium-screen-hidden {
  display: none;
}

/*auth*/

.auth-container{
  display: flex;
  flex-direction: column;
  margin: 0 2em 2em 2em;
  padding-top: 2em;
}

.auth-image {
  width: 60vw;
  max-width: 350px;
  align-self: center;
}

.auth-container >h1 {
  align-self: center;
  color: rgb(237,230,227);
}

.auth-submit-button,
.auth-login-button,
.auth-visit-button {
  width: 6em;
}

/*home*/
.home-container{
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.home-image {
  width: 60vw;
  max-width: 500px;
  align-self: center;
}

/*header*/

.navbar {
  position: sticky !important;
  margin: 0 0 2.5% 0 !important;
  padding: 0 !important;
  background-color: rgba(237,230,227,0.9) !important;
}

.navbar-form {
  display: flex;
  margin:  0 15px 15px 15px !important;
  padding-top: 18px !important;
}

.navBarSearchForm {
  width: 150px !important;
}

.nav-link {
  padding-left: 5vw !important;
  color: black !important;
  margin: 0 15px 0 15px !important;
  border-radius: 10px !important;
}

.active {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(255,0,0,0.9),
      rgba(0,0,0,0.9)
    ) 1 100% ;
}

.btn-outline-secondary{
  color: black !important;
}

.page-body {
  padding-bottom: 15vh;
}

.launguages-menu{
  padding-left: 5vw !important;
  margin: 15px 15px 15px 15px !important;
  display: flex;
  gap: 10px;
}

.launguages-item {
  background: none;
  border: none;
}

.launguages-item > img {
  height: 20px;
  width: 30px;
  align-self: center;
}

/*footer*/

footer {
  position: absolute;
  bottom: 0;
  min-width: 100% !important;
  padding: 0%;
  color: black;
  background-color: rgba(237,230,227,0.9);
  justify-content: space-between;
  height: 14vh !important;
}

.psyduck-image {
  position: absolute;
  height: 90px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5vw;
}

.footer-right > a {
  color: black;
  text-decoration: none;  
} 
  
/*trainer profile*/

.original-trainer-team-button{
  background: linear-gradient(to right, rgba(255, 0, 0,0.9) 0%, rgba(0,0,0,0.9) 100%) !important;
  border: none !important;
}

.profile-card {
  width: 75vw;
  background-color: rgba(237,230,227,0.9);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.profile-image{
  transition: all 0.5s
}

.profile-card:hover .profile-image {
  transform: scale(1.5)
}

.profile-name {
  font-size: 22px;
  font-weight: bold
}

.profile-idd {
  font-size: 14px;
  font-weight: 600
}

.profile-number {
  font-size: 22px;
  font-weight: bold
}

.profile-pokemon {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.profile-text {
  text-align: center;
  font-size: 13px;
  color: black;
  font-weight: 500
}

.profile-icon {
  height: 35px;
}

.gap {
  gap: 10px
}

@media screen and (min-width: 500px) {
  .profile-buttons-container {
    display: flex;
    gap: 5px;
  }
  .profile-image-and-user-details-container{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .profile-user-details-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .nav-link{
    padding: 1vw !important;
  }

  .launguages-menu {
    padding-left: 1vw !important;
  }
}

/*edit profile*/

.editing-container{
  margin: 2em;
}

/*6 pokemon team*/

.card-grid {
  position: relative;
  display: grid;
  justify-items: space-around;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin: 2em;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 0, 0,0.9) 0%, rgba(0,0,0,0.9) 100%) !important;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.pokemon-card-image-container {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card-image {
  height: 100%;
}

.pokemon-card-types-container{
  margin: 10px;
}

.flip-card-front, .flip-card-back {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-more-button {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 481px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .small-screen-hidden {
    display: block;
  }
  .original-trainer-team-button{
    width: 20vw;
  }
}

@media screen and (min-width: 769px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .medium-screen-hidden {
    display: block;
  }
}

/*egg group list*/

.egg-group-list-id{
  text-align: center;
}

/*pokedex*/

.pokedex-pokeball-image{
  height: 50px;
  display: block;
  margin: 10px auto 10px auto;
}

.pokedex-pokedex-link {
  text-decoration: none;
  color: transparent;
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654179821/pokemon-tawny-port/66a6a4d3-pokedex_kanto_jvz4bm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pokedex-pokedex-link:hover{
  color: transparent !important;
}

.pokedex-head {
  background-color: rgba(237,230,227,0.9);
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 50px;
}

.pokedex-body {
  background: linear-gradient(to right, rgba(255, 0, 0,0.2) 0%, rgba(0,0,0,0.2) 100%) !important;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: dashed rgba(237,230,227,0.9);
  border-top: none;
  color: white;
}

/*unsuccessful search*/

.center-text {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

/*pokemon details*/

.catch-button{
  text-align: center;
}

.catch-button > button{
  width: 20vw;
}

.pokemon-details-name{
  text-align: center;
  background-color: rgba(237,230,227,0.9);
  color: black;
}

.pokemon-details-image-container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.pokemon-details-image-container > div > p{
  margin: 0;
}

.pokemon-details {
  text-align: center;
}

.pokemon-details-a{
  color: white;
}

.pokemon-details > h5 {
  background-color: rgba(237,230,227,0.9);
  color: black;
}

.pokemon-details-card{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  margin: 1em;
}

.pokemon-details-types{
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.pokemon-details-types:hover{
  color: white;
}


.bold{
  font-weight: bold;
}


@media screen and (min-width: 481px) {
  .pokemon-details-card{
    grid-template-columns: repeat(2, 1fr);
  }
  .evolution-chain-container,
  .egg-groups-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 769px) {
  .pokemon-details-card{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*trainer list*/
.trainer-list-image {
  height: 50px;
  widh: 50px;
}

.trainer-list-link {
  text-decoration: none;
  color: transparent;
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654179821/pokemon-tawny-port/66a6a4d3-pokedex_kanto_jvz4bm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.trainer-list-link:hover {
  color: transparent;
}

/*team edit*/

.edit-team-form{
  margin: 0;
}

.add-pokemon-to-team-btn{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654260394/pokemon-tawny-port/PngItem_574430_m2zacr.png);
  background-size: cover;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: none;
}

.remove-pokemon-from-team-btn{
  background-image: url(https://res.cloudinary.com/dvru7nv6q/image/upload/v1654267713/pokemon-tawny-port/pngfind.com-transparent-box-png-1594011_w9k0bo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
}

.edit-team-head{
  height: 100px;
  background-color: rgba(237,230,227,0.9);
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black !important;
}

.edit-team-body{
  background: linear-gradient(to right, rgba(255, 0, 0,0.2) 0%, rgba(0,0,0,0.2) 100%) !important;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: dashed rgba(237,230,227,0.9);
  border-top: none;
}

/*battle*/

.battle-stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 75vw;
  height: 50vh;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.pokemon1 {
  align-self: flex-end;
}

.pokemon2 {
  align-self: flex-start;
}


.pokemon1-image,
.pokemon2-image {
  width: 100px;
}

.vibrating-plate {
  display: flex;
  width: 100%;
  justify-content: center space-around;
  flex-direction: column;
  color: white;
  text-align: center;
}

#battle-btn {
  border: none;
  color: white;
  background: transparent; 
  right: 50%;
  font-size: larger;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-9 1:22:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#winner-image {
  width: 200px;
  align-self: center;
}

/*
.battleground{
  border: 2px solid rgb(110, 13, 13);
  position: relative;
  height: 204px;
}

.battle-pokemon {
  position: absolute;
  right: 0;
  height: 100px;
	animation: slide-left 5s;
}

.battle-trainer {
  position: relative;
  margin-top: 100px;
  height: 100px;
	animation: slide-right 5s;
}

.battle-pokeball{
  position: absolute;
  height: 40px;
  animation: catch 10s;
}

@keyframes slide-left {
  0% {
    right: 100vw;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-right {
  0% {
    left: 100vw;
  }
  100% {
    left: 0px;
  }
}

@keyframes catch {
  0% {
    transform: translate(85vw, 85vh) rotate(0deg);
  }
  100% {
    transform: translate(85vw, 85vh) rotate(7200deg);
  }
}*/