{{>header}}

{{#if anonymous}}
    <span class="large-screens-original-trainer-team-text">Click on the cards for more information. Create an account and click in "More on" if your aiming to become a champion.</span>
{{/if}}
{{#if inSession}}   
    <span class="large-screens-original-trainer-team-text">This is my team {{user.username}}. How would your team fare against mine?</span>
{{/if}}

{{>cards}}

{{>footer}}