{{>header}}

<div class="page-body">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="profile-card p-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="profile-image-and-user-details-container">
                    <div class="profile-image-container d-flex justify-content-center ">
                        <img class="profile-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/shiny/38.gif" height="100" width="100" />
                    </div>  
                <div class="profile-user-details-container">
                    <span class="profile-name d-flex mt-2 justify-content-center">Joao Inacio</span>
                    <span class="profile-idd d-flex mt-2 justify-content-center">@joaoMiguelInacio</span>
                    <span class="profile-number d-flex mt-2 justify-content-center align-items-center gap">150 <span class="profile-pokemon">Pokémon</span></span>
                </div>
                </div>  
                <div class="profile-buttons-container">
                    <div class="d-flex mt-2 justify-content-center">
                        <form action="/app/original-trainer-team" method="get">
                            <button class="btn btn-primary original-trainer-team-button">See Team</button>
                        </form>
                    </div>  
                </div>
                <p class="profile-text mt-3"> 
                    In the year Bill Gates left his position as Microsoft CEO to play Pokémon, I received my first GameBoy with Pokémon Crystal. 
                    <br>
                    22 years later, after visiting Hogwarts, the Hidden Leaf Village, roaming the seas aboard The Going Merry and The Thousand Sunny and living in renaissance Italy as il mentore, I am again stuck in the world of Pokémon.</article>
                </p>
                <p class="profile-text mt-3">
                    <span style="color:#802456">TAWNY-PORT</span> is not the only color that we still do not have a Pokémon game about.
                    It is also not an homage to my home town. Just a coincidence that it happened to be the color resulting from mixing <span style="color:#FF0000">RED</span> and <span style="color:#0047AB">BLUE</span>. The Pokémon game versions I based this application on.               
                </p>
                <div class="gap-3 mt-3 d-flex flex-row justify-content-center align-items-center">
                    <a href="https://www.linkedin.com/in/jo%C3%A3o-in%C3%A1cio-126174219/"><img class="profile-icon"  src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-tawny-port/linkedin-brands_zdp87l.png" alt="LinkedIn"></a>
                    <a href="https://github.com/joaoMiguelInacio"><img class="profile-icon" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653561444/pokemon-tawny-port/github-square-brands_jeauhi.png" alt="GitHub"></a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

