{{>header}}

<div class="page-body">

    {{#if anonymous}}
        <h4 class="center-text">Click the cards to flip them.</h4>
        <h4 class="center-text">Click the Pokémon name and he will tell you all his secrets. &#129299</h4>
    {{/if}}
    {{#if inSession}}   
        <h4 class="center-text">This is my team @{{user.username}}.</h4>
        <h4 class="center-text">How would your team fare against mine? &#128121</h4>
    {{/if}}
    
    <hr class="center-text">
    
    {{>cards}}

</div>

{{>footer}}

<script src="/js/types.js"></script>