{{>header}}

{{#if anonymous}}
    <p class="original-trainer-team-text">Click the cards to flip them.</p>
    <p class="original-trainer-team-text">Click the Pokemon name and he will tell you all his secrets.</p>
{{/if}}
{{#if inSession}}   
    <p class="original-trainer-team-text">This is my team {{user.username}}.</p>
    <p class="original-trainer-team-text">How would your team fare against mine?</p>
{{/if}}

{{>cards}}

{{>footer}}