{{>header}}

<div class="editing-container">
   <form action="/app/own-profile-edit" method="POST">

      <div class="row mb-1">
         <label class="form-label"> Name
            <input class="form-control" required type="text" name="name" value="{{this.user.name}}">
         </label>
      </div>
      <div class="row mb-1">
         <label class="form-label"> Username
            <input class="form-control" required type="text" name="username" value="{{this.user.username}}">
         </label>
      </div>
      <div class="row mb-1">
         <label class="form-label"> Image
            <input class="form-control" required type="text" name="image" value="{{this.user.image}}">
         </label>
      </div>
      <div class="row mb-1">
         <label class="form-label"> About you:
            <input class="form-control" required type="text" name="description" value="{{this.user.description}}">
         </label>
      </div>

      <button  class="btn btn-danger" type="submit">Submit</button>

   </form>
</div>

{{>footer}}