{{>header}}

{{#if noPokemon}}
<h4 class="no-pokemon-team-text">You do not have any Pokemons yet.</h4>
<h4 class="no-pokemon-team-text">Explore your Pokedex and try to catch some Pokemons!</h4>
{{/if}}

{{>cards}}

{{>footer}}