{{>header}}

<div class="page-body">
    
    {{#if noPokemon}}
    <h4 class="center-text">You do not have any Pokémons yet.</h4>
    <h4 class="center-text">Explore your Pokedex and try to catch some Pokémons!</h4>
    {{/if}}

    {{>cards}}

</div>

{{>footer}}

<script src="/js/types.js"></script>