{{>header}}

<div class="page-body">
    <div class="container">
        <div class="pokedex-head row">
            <div class="col">
                <img class="pokedex-pokeball-image medium-screen-hidden" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png" alt="Image">
            </div>
            <div class="col">
                <a>Pokemon</a>
            </div>
            <div class="col">
                <a>More</a>
            </div>
        </div>
        {{#each pokemon}}
        <div class="row pokedex-body">
            <div class="col">
                <img src="{{this.sprites.front_default}}" alt="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png">
            </div>
            <div class="col">
                <a>{{this.name}} #{{this.id}}</a>
            </div>
            <div class="col">
                <a class="pokedex-pokedex-link" href="/app/pokemon-details/{{this.id}}">Details</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{>footer}}