{{>header}}

<div class="page-body">
    <div class="center-text" id="pokemon-search-unsuccessful">
        <h5>Psyduck has told me he couldn't find a Pokémon with that name or number in Generation 1</h3>
        <h6>We will consider allocating our Alakazam to this task.</h6>
        <p>Perhaps, we will be able to handle Pokémon from other generations then &#128565</p>
        <p>Please, make sure you didn't mispell the name or look for the Pokémon manually in the pokedex</p>
    </div>
</div>

{{>footer}}