{{>header}}

<div class="center-text" id="search-unsuccessful">
    <h5>Psyduck has told me he couldn't find a pokemon with that name or number in Generation 1</h3>
    <h6>We will consider allocating our Alakazam to this task.</h6>
    <p>Perhaps then, we will be able to handle pokemons from other generations &#128565</p>
    <p>Please, make sure you didn't mispell the name or look for the pokemon manually in the pokedex</p>
</div>

{{>footer}}