<h3>I am sorry, we couldnt find a pokemon with that name or with that national pokedex number</h3>

<p>Make sure you didn't mispell the name or look for the pokemon manually in the pokedex</p>

<form action="/app/pokedex" method="get">
    <button class="btn btn-danger">See Pokedex</button>
</form>