{{>header}}

<div class="page-body">

    {{#if noPokemon}}
    <h4 class="center-text">{{this.trainer.username}} didn't catch any Pokemon yet.</h4>
    <h4 class="center-text">I think {{this.trainer.username}} is on their way now to see Prof. Oak!</h4>
    {{/if}}

    <hr>

    {{>cards}}

</div>

{{>footer}}

<script src="/js/types.js"></script>